/* Amazon navbar */
/* *{
    padding: 0;
    margin: 0;
    color: white;
}
#navbar{
    height: 60px;
    background-color: #0f1111;

    
}
button{
    background-color: #f08804;
    font-size: 20px;

}
#logo{
    color: #f08804;
    font-size: 30px;
   

}
a{
    margin-right: 200px;
    font-size: 20px;

}
input{
    font-size: 20px;
} */


/* Indian flag */
/* #one{
    height: 100px;
    width: 400px;
   
    background-color:orange;
}
#two{
    height: 100px;
    width: 400px;
   
    background-color: white;
}
#three{
    height: 100px;
    width: 400px;
   
    background-color: green;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    height: 100px;
  }
} */
div{
    background-color: red;
    height: 100px;
    width: 100px;
    margin: 20px;
    padding: 20px;
    display: inline;


}
/* #two{
    background-color: rgb(32, 255, 32);
    height: 100px;
    width: 50px;
    display: inline;

}
#three{
    background-color: rgb(122, 196, 250);
    height: 100px;
    width: 50px;
    display: inline;

} */